@import "https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@1&display=swap";
._col_1iki9_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/name.jpg) no-repeat fixed center/cover;
  height: 92vh;
}
._row_1iki9_21 {
  padding: 1rem;
}
._box_1iki9_29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.2rem;
}
._name_1iki9_47 {
  font-size: 5vw;
  color: #fff;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
  font-weight: 600;
  padding-bottom: 2rem;
}
._nameeffect_1iki9_65 {
  font-size: 5vw;
  color: #fff;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
  font-weight: 600;
  height: 7vw;
  padding-right: 0.3rem;
  border-right: 2px solid white;
}
._circle_1iki9_87 {
  content: "  ";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  animation: _slide_1iki9_1 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  box-shadow: inset 0 0 30px #fff, inset 20px 0 30px #ffd400,
    inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
    inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
    10px 0 80px #f55;
  position: absolute;
  top: 23%;
  left: 56%;
}
@keyframes _slide_1iki9_1 {
  0% {
    transform: translate(3px);
  }
  12.5% {
    transform: translate(-6px);
  }
  25% {
    transform: translate(6px);
  }
  37.5% {
    transform: translate(-6px);
  }
  50% {
    transform: translate(6px);
  }
  67.5% {
    transform: translate(-6px);
  }
  75% {
    transform: translate(6px);
  }
  87.5% {
    transform: translate(-6px);
  }
  to {
    transform: translate(3px);
  }
}
@media (max-width: 330px) {
  ._name_1iki9_47,
  ._nameeffect_1iki9_65 {
    font-size: 4vw;
  }
}
._col_1tk0j_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
._row_1tk0j_15 {
  padding: 1rem;
}
._about_1tk0j_23 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
._heading_1tk0j_37 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  padding-left: 1.1rem;
}
._details_photo_1tk0j_51 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
._details_1tk0j_51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex: 8;
}
._details_1tk0j_51 p:before {
  content: "  ";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  border-color: #000000 black #ffffff white;
  animation: _spinner_1tk0j_1 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  position: absolute;
  left: 6.1%;
}
@keyframes _spinner_1tk0j_1 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._details_1tk0j_51 p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  color: #fff;
}
._photobox_1tk0j_151 {
  display: flex;
  border-radius: 12px;
  padding: 1rem;
  flex: 4;
}
._photo_1tk0j_151 {
  display: flex;
  border-radius: 12px;
  padding: 1rem;
  border: 2px solid white;
}
._photo_1tk0j_151 img {
  border-radius: 12px;
  height: 300px;
}
span {
  color: #f81e4d;
}
@media (max-width: 900px) {
  ._details_photo_1tk0j_51 {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  ._row_1tk0j_15 {
    padding: 0;
  }
  ._about_1tk0j_23 {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 440px) {
  ._details_photo_1tk0j_51 {
    padding: 0;
    margin: 0;
    margin-top: 1.4rem;
  }
  ._details_1tk0j_51 {
    padding-left: 0;
  }
  ._photo_1tk0j_151 {
    width: auto;
    padding: 0;
    padding: 1rem;
    margin-top: 1rem;
  }
  ._photobox_1tk0j_151 {
    padding: 0;
  }
  ._photo_1tk0j_151 img {
    border-radius: 12px;
    height: 180px;
  }
  ._details_1tk0j_51 p {
    font-size: 16px;
  }
}
._col_18qc2_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
._row_18qc2_13 {
  padding: 0.1rem 1rem;
}
._language_18qc2_19 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem 2rem;
}
._heading_18qc2_31 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding-left: 1.1rem;
}
._tool_card_18qc2_43 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  margin: 0.1rem;
  gap: 1rem;
}
._tool_18qc2_43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._card_18qc2_75 {
  display: flex;
  padding: 0.1rem;
}
@media (max-width: 420px) {
  ._language_18qc2_19 {
    padding: 0;
    margin: 0;
  }
  ._row_18qc2_13 {
    padding: 0;
  }
}
._completecard_12a76_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
._popular_books_12a76_15 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
._rotate_12a76_29 {
  perspective: 100rem;
}
._book_card_12a76_35 {
  position: relative;
  box-shadow: #00000059 0 5px 15px;
  transition: all 0.8s;
  max-width: 350px;
  min-height: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._card_header_12a76_61 {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
._img_fluid_12a76_71 {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
._card_footer_12a76_81 {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
._back_12a76_91 {
  position: absolute;
  top: -100%;
  background: #fefefe;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: top 0.8s, opacity 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._back_content_12a76_125 {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._rotate_12a76_29:hover ._book_card_12a76_35 {
  transform: rotateY(180deg);
}
._rotate_12a76_29:hover ._back_12a76_91 {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}
._texting_12a76_161 {
  font-size: 1.7rem;
}
._about_12a76_167 {
  font-size: 1.5rem;
}
@media (max-width: 420px) {
  ._completecard_12a76_1 {
    padding: 0;
  }
}
._button_1d73f_1 {
  font: inherit;
  padding: 0.5rem 2rem;
  border: 1px solid rgb(22, 65, 65);
  color: #fff;
  background-color: #020c1bb3;
  box-shadow: 0 0 4px #00000042;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.2rem;
}
._button_1d73f_1:focus {
  outline: none;
}
._button_1d73f_1:hover,
._button_1d73f_1:active {
  background: #495670;
  color: #000;
  box-shadow: 0 0 8px #00000042;
  animation: _shake_1d73f_1 1s ease-in-out infinite;
}
._col_1lw4z_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}
._row_1lw4z_13 {
  padding: 1rem;
}
._tooling_1lw4z_19 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: _jackInTheBox_1lw4z_1 2s ease forwards;
}
@keyframes _jackInTheBox_1lw4z_1 {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._tooling_box_1lw4z_73 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
}
._box_content_1lw4z_93 {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 15%;
  min-height: 50px;
  justify-content: space-evenly;
  padding: 1rem;
}
._box_icon_1lw4z_115 ._icon_1lw4z_115 {
  height: 3rem;
  width: 3rem;
  border-radius: 4px;
  padding: 2px;
}
._box_text_1lw4z_127 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
@media (max-width: 420px) {
  ._row_1lw4z_13 {
    padding: 0;
  }
}
@media (max-width: 520px) {
  ._tooling_box_1lw4z_73 {
    justify-content: center;
  }
}
._col_ob3zs_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
._row_ob3zs_13 {
  padding: 1rem;
}
._working_ob3zs_19 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
._heading_ob3zs_31 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: #fff;
}
._works_ob3zs_43 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
._work_ob3zs_19 {
  max-width: 350px;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem 2rem;
  box-shadow: #06182c66 0 0 0 2px, #06182ca6 0 4px 6px -1px,
    #ffffff14 0 1px inset;
}
._book_card_ob3zs_79 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 330px;
  gap: 1.5rem;
}
._work_ob3zs_19 img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
._work_info_ob3zs_105 {
  color: #eee;
  letter-spacing: 0.5px;
  font-size: 1.7rem;
  transition: transform 0.3s ease-in;
}
._work_body_ob3zs_117 {
  transition: transform 0.3s ease-in;
}
._work_ob3zs_19:hover ._work_info_ob3zs_105 {
  transform: translateY(-60%);
}
._work_ob3zs_19:hover ._work_body_ob3zs_117 {
  transform: translateY(-20%);
}
._overview_ob3zs_135 {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: #32325d40 0 30px 60px -12px inset,
    #0000004d 0 18px 36px -18px inset;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
._work_ob3zs_19:hover ._overview_ob3zs_135 {
  transform: translateY(0);
}
._back_content_ob3zs_181 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
._texting_ob3zs_195 {
  font-size: 22px;
}
._about_ob3zs_201 {
  font-size: 22px;
  color: #f65454;
}
@media (max-width: 650px) {
  ._row_ob3zs_13 {
    padding: 0;
  }
  ._working_ob3zs_19,
  ._works_ob3zs_43 {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 440px) {
  ._texting_ob3zs_195 {
    font-size: 20px;
  }
}
._contact_1stzs_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(/contact.jpeg) no-repeat fixed center/cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 75vh;
}
._container_fluid_1stzs_15 {
  width: 100%;
  height: 100%;
}
._row_1stzs_23,
._rowall_1stzs_33 {
  display: flex;
  gap: 1rem;
  height: 100%;
}
._col_1_1stzs_43 {
  flex: 6;
  margin: 2rem 3rem;
  height: 100%;
}
._col_2_1stzs_53 {
  flex: 6;
  margin: 2rem 1rem;
  height: 100%;
}
._items_wrapper_1stzs_63 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(/runner.jpg) no-repeat center center/cover;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  flex-wrap: wrap;
  height: 75%;
}
._floating_item_1stzs_93 {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}
._link_1stzs_111:hover {
  color: #ed8787;
  cursor: pointer;
}
._text_light_1stzs_119,
._text_light_heading_1stzs_125 {
  color: #fff;
}
._red_1stzs_133 {
  color: #fe4e4e;
}
._part_2_text_light_1stzs_141 {
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: #ffffff40 0 30px 60px -12px inset,
    #ffffff4d 0 18px 36px -18px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 254, 254, 0.3) 0px 18px 36px -18px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
  border-radius: 12px;
}
._form_group_1stzs_169 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: #ffffff40 0 30px 60px -12px inset,
    #ffffff4d 0 18px 36px -18px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 254, 254, 0.3) 0px 18px 36px -18px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
._form_control_1stzs_199 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}
._but_red_1stzs_213 {
  border: 2px solid rgb(244, 69, 69);
  border-radius: 8px;
  font-size: 19px;
  color: #f44545;
  font-weight: 500;
  padding: 0.5rem;
}
._but_red_1stzs_213:hover {
  border: 2px solid black;
  background-color: #f44545;
  color: #000;
  border-radius: 8px;
}
._first_item_1stzs_245 {
  animation: _float_1stzs_93 15s infinite;
}
._second_item_1stzs_253 {
  animation: _float_1stzs_93 20s ease-in infinite;
}
._third_item_1stzs_261 {
  animation: _float_1stzs_93 40s linear infinite;
}
._fourth_item_1stzs_269 {
  animation: _float_1stzs_93 30s infinite;
}
._fifth_item_1stzs_277 {
  animation: _float_1stzs_93 25s ease-in-out infinite;
}
@keyframes _float_1stzs_93 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-60px);
  }
  to {
    transform: translate(0);
  }
}
._contact_form_1stzs_313 input[type="text"],
._contact_form_1stzs_313 input[type="email"],
._contact_form_1stzs_313 textarea {
  background: transparent;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  box-shadow: none;
}
._contact_form_1stzs_313 input:focus,
._contact_form_1stzs_313 textarea:focus {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
._form_control_1stzs_199 {
  width: 75%;
}
@media (max-width: 768px) {
  @keyframes _float_1stzs_93 {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(-30px);
    }
    to {
      transform: translate(0);
    }
  }
}
@media (max-width: 900px) {
  ._rowall_1stzs_33 {
    flex-direction: column;
  }
  ._contact_1stzs_1 {
    height: auto;
  }
}
._error_message_1stzs_403 {
  background-color: #ffcccb;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
}
._last_uqkeg_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 10vh;
}
._container_fluid_uqkeg_11 {
  width: 100%;
  height: 100%;
}
._row_uqkeg_19 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
._col_uqkeg_35 {
  padding: 0;
}
._nav_uqkeg_41 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  padding-left: 0rem;
  gap: 0.5rem;
}
._nav_link_uqkeg_59 {
  color: #f0f8ff;
  transition: all 0.3s;
  letter-spacing: 2px;
}
._copyright_uqkeg_69 {
  font-size: 22px;
  color: #fff;
}
._footer-link_uqkeg_77 {
  color: #eee;
  transition: all 0.3s;
}
._nav_link_uqkeg_59:hover {
  color: #70aed2;
}
._nav_item_uqkeg_91 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  ._nav_uqkeg_41 {
    gap: 0.3rem;
    font-size: 16px;
    text-decoration: none;
  }
  ._nav_link_uqkeg_59 {
    letter-spacing: 0px;
  }
  ._copyright_uqkeg_69 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  ._nav_uqkeg_41 {
    gap: 0.1rem;
    font-size: 14px;
    text-decoration: none;
    flex-direction: column;
  }
  ._nav_link_uqkeg_59 {
    letter-spacing: 0px;
  }
  ._copyright_uqkeg_69 {
    font-size: 12px;
  }
  ._last_uqkeg_1 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: auto;
  }
  ._row_uqkeg_19 {
    gap: 0.1rem;
  }
}
p {
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
}
._error_number_7tm59_1 {
  font-size: 15rem;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #f65757;
}
._error_reason_7tm59_15 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px;
  color: #f65757;
}
._error_des_7tm59_31 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0 0 20px;
  color: #252424;
}
@media (max-width: 768px) {
  ._error_number_7tm59_1 {
    font-size: 10rem;
  }
}
._backdrop_ke37f_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000bf;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 1000px) {
  ._backdrop_ke37f_1 {
    display: block;
  }
}
._positionfixed_es6xn_1 {
  position: fixed;
  width: 100%;
  z-index: 10;
}
._line1_es6xn_11,
._line2_es6xn_13,
._line3_es6xn_15 {
  width: 20px;
  height: 2px;
  background: white;
  margin: 4px 2px;
  transition: all 0.5s;
}
._hamburgerchange_es6xn_31 ._line1_es6xn_11 {
  transform: rotate(-405deg) translate(-4.28px, 4.28px);
  background: white;
}
._hamburgerchange_es6xn_31 ._line2_es6xn_13 {
  opacity: 0;
}
._hamburgerchange_es6xn_31 ._line3_es6xn_15 {
  transform: rotate(405deg) translate(-4.28px, -4.28px);
  background: white;
}
._hamburgerchange_es6xn_31 {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
._hamburgerchange_es6xn_31:hover {
  background-color: var(--primary-color);
}
._navigation_es6xn_99 {
  height: 4.2rem;
  display: flex;
  position: relative;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 2px 2px 2px #0909093b;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}
._logo_es6xn_127 img {
  width: 60px;
  margin: 8px 5px 5px;
  border-radius: 30px;
}
._logo1_es6xn_139 img {
  width: 60px;
  margin: 4px 0 5px;
  border-radius: 4px;
}
._first_es6xn_151 {
  display: none;
}
._navigationmenu_es6xn_159 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
._navigationmenu_es6xn_159 li {
  list-style-type: none;
  margin: auto 1.2rem;
  font-size: 1.5rem;
}
._active_es6xn_185 {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  white-space: nowrap;
}
._active_es6xn_185:hover {
  color: #f46161;
  border-bottom: 2.5px solid white;
  animation: _bgPos_es6xn_1 1.5s linear infinite;
}
._hamburger_es6xn_31 {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  border: 1px solid wheat;
}
._hamburger_es6xn_31:hover {
  background-color: var(--primary-color);
}
@media screen and (max-width: 720px) {
  ._hamburger_es6xn_31,
  ._hamburgerchange_es6xn_31 {
    display: block;
    z-index: 210;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenuexpanded_es6xn_291 ul {
    position: absolute;
    top: 67px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    box-shadow: 0 2px 2px 2px #0909093b;
    border-top: 1px solid black;
    list-style: none;
    padding: 0px 0px 4rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 1px;
    z-index: 210;
    box-shadow: #0000002b 0 -23px 25px inset, #00000026 0 -36px 30px inset,
      #0000001a 0 -79px 40px inset, #0000000f 0 2px 1px, #00000017 0 4px 2px,
      #00000017 0 8px 4px, #00000017 0 16px 8px, #00000017 0 32px 16px;
    -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  ._navigationmenuexpanded_es6xn_291 li {
    text-align: center;
    list-style-type: none;
    margin: 0.8rem auto;
    padding: 0;
    font-size: 1.4rem;
  }
  ._navigationmenuexpanded_es6xn_291 li a {
    padding: 0.2rem 0;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #fff;
  }
  ._navigationmenuexpanded_es6xn_291 a:hover,
  ._navigationmenuexpanded_es6xn_291 a:active,
  ._navigationmenuexpanded_es6xn_291 a:active {
    color: #000;
  }
  ._first_es6xn_151 {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenu_es6xn_159 ul {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenuexpanded_es6xn_291 ul {
    display: block;
  }
}
@keyframes _bgPos_es6xn_1 {
  0% {
    border-color: #c8c8c8;
  }
  25% {
    border-color: #969696;
  }
  50% {
    border-color: #646464;
  }
  to {
    border-color: #323232;
  }
}
._App_1u7u7_1 {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
._box-shadow-large_1u7u7_17 {
  box-shadow: #0000002b 0 -23px 25px inset, #00000026 0 -36px 30px inset,
    #0000001a 0 -79px 40px inset, #0000000f 0 2px 1px, #00000017 0 4px 2px,
    #00000017 0 8px 4px, #00000017 0 16px 8px, #00000017 0 32px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
._box-shadow-small_1u7u7_53 {
  box-shadow: #32325d40 0 30px 60px -12px inset,
    #0000004d 0 18px 36px -18px inset;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media (max-width: 450px) {
  ._App_1u7u7_1 {
    width: auto;
  }
}
* {
  font-family: Ibarra Real Nova, serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --primary-color: #1f2833;
  --secondary-color: #4e4e50;
}
