@import "https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oxanium:wght@300&display=swap";
._col_5afic_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(1, 3, 20, 0.1), rgba(58, 59, 74, 0.1)),
    url(/profile.png) no-repeat fixed left/cover;
  height: 100vh;
}
._row_5afic_21 {
  padding: 1rem;
}
._box_5afic_29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.2rem;
}
._name_5afic_47 {
  font-size: 5vw;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
  font-weight: 600;
  padding-bottom: 2rem;
}
._nameeffect_5afic_65 {
  font-size: 5vw;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
  font-weight: 600;
  height: 7vw;
  padding-right: 0.3rem;
  border-right: 2px solid white;
}
._name_5afic_47:first-letter {
  font-size: 7vw;
  font-weight: 700;
}
._circle_5afic_93 {
  content: "  ";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  animation: _slide_5afic_1 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  box-shadow: inset 0 0 30px #fff, inset 20px 0 30px #ffd400,
    inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
    inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
    10px 0 80px #f55;
  position: absolute;
  top: 23%;
  left: 16%;
}
@keyframes _slide_5afic_1 {
  0% {
    transform: translate(3px);
  }
  12.5% {
    transform: translate(-6px);
  }
  25% {
    transform: translate(6px);
  }
  37.5% {
    transform: translate(-6px);
  }
  50% {
    transform: translate(6px);
  }
  67.5% {
    transform: translate(-6px);
  }
  75% {
    transform: translate(6px);
  }
  87.5% {
    transform: translate(-6px);
  }
  to {
    transform: translate(3px);
  }
}
@media (max-width: 330px) {
  ._name_5afic_47,
  ._nameeffect_5afic_65 {
    font-size: 4vw;
  }
}
._col_180is_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/background.png) no-repeat fixed left/cover;
}
._row_180is_17 {
  padding: 1rem;
}
._about_180is_23 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
._heading_180is_35 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  padding-left: 1.1rem;
}
._details_photo_180is_47 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
._details_180is_47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex: 8;
}
._details_180is_47 p:before {
  content: "  ";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  border-color: #000000 black #ffffff white;
  animation: _spinner_180is_1 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  position: absolute;
  left: 6.1%;
}
@keyframes _spinner_180is_1 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._details_180is_47 p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  color: #fff;
}
._photobox_180is_137 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 1rem;
  flex: 4;
}
._photo_180is_137 {
  display: flex;
  border-radius: 12px;
  padding: 0.75rem;
  border: 2px solid white;
}
._photo_180is_137 img {
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
}
span {
  color: #f81e4d;
}
@media (max-width: 900px) {
  ._details_photo_180is_47 {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  ._row_180is_17 {
    padding: 0;
  }
  ._about_180is_23 {
    padding: 0;
    margin: 0;
  }
  ._details_180is_47 p {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  ._details_photo_180is_47 {
    padding: 0;
    margin: 0;
    margin-top: 1.4rem;
  }
  ._details_180is_47 {
    padding-left: 0;
  }
  ._photo_180is_137 {
    width: auto;
    padding: 0;
    padding: 1rem;
    margin-top: 1rem;
  }
  ._photobox_180is_137 {
    padding: 0;
  }
  ._photo_180is_137 img {
    border-radius: 12px;
    height: 180px;
  }
  ._details_180is_47 p {
    font-size: 14px;
  }
}
._col_117xg_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/background.png) no-repeat fixed left/cover;
}
._row_117xg_17 {
  padding: 0.1rem 1rem;
}
._language_117xg_23 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem 2rem;
}
._heading_117xg_35 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding-left: 1.1rem;
}
._tool_card_117xg_47 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  margin: 0.1rem;
  gap: 1rem;
}
._tool_117xg_47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._card_117xg_79 {
  display: flex;
  padding: 0.1rem;
}
@media (max-width: 420px) {
  ._language_117xg_23 {
    padding: 0;
    margin: 0;
  }
  ._row_117xg_17 {
    padding: 0;
  }
}
@media (max-width: 650px) {
  ._language_117xg_23 {
    padding: 0;
    margin: 0;
  }
  ._row_117xg_17 {
    padding: 0;
  }
}
._completecard_qj07i_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
._popular_books_qj07i_15 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
._rotate_qj07i_29 {
  perspective: 100rem;
}
._book_card_qj07i_35 {
  position: relative;
  box-shadow: #8d86863d 0 5px 15px;
  transition: all 0.8s;
  max-width: 350px;
  min-height: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  border-radius: 10px;
  background: var(--primary-color);
}
._card_header_qj07i_65 {
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
}
._img_fluid_qj07i_77 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
._card_footer_qj07i_89 {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
._back_qj07i_99 {
  position: absolute;
  top: -100%;
  background: #fefefe;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: top 0.8s, opacity 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  border-radius: 10px;
}
._back_content_qj07i_135 {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
._rotate_qj07i_29:hover ._book_card_qj07i_35 {
  transform: rotateY(180deg);
}
._rotate_qj07i_29:hover ._back_qj07i_99 {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}
._texting_qj07i_171 {
  font-size: 1.7rem;
  font-weight: 800;
}
._about_qj07i_179 {
  font-size: 1.5rem;
}
@media (max-width: 420px) {
  ._completecard_qj07i_1 {
    padding: 0;
  }
}
._button_1ljvx_1 {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(22, 65, 65);
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: 0 0 4px #00000042;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.2rem;
}
._button_1ljvx_1:focus {
  outline: none;
}
._button_1ljvx_1:hover,
._button_1ljvx_1:active {
  background: #495670;
  color: #000;
  box-shadow: 0 0 8px #00000042;
}
._col_xlahx_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}
._row_xlahx_13 {
  padding: 1rem;
}
._tooling_xlahx_19 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: _jackInTheBox_xlahx_1 2s ease forwards;
}
@keyframes _jackInTheBox_xlahx_1 {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._tooling_box_xlahx_73 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 1rem;
  padding: 1rem;
}
._box_content_xlahx_91 {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 15%;
  min-height: 50px;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: #8d86863d 0 3px 8px;
  min-width: 8rem;
}
._box_icon_xlahx_119 ._icon_xlahx_119 {
  height: 3rem;
  padding: 2px;
  object-fit: cover;
  border-radius: 8px;
}
._box_text_xlahx_131 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--secondary-color);
  text-transform: uppercase;
}
@media (max-width: 420px) {
  ._row_xlahx_13 {
    padding: 0;
  }
}
@media (max-width: 520px) {
  ._tooling_box_xlahx_73 {
    justify-content: center;
  }
}
._col_1w6j4_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/workingbackground.png) no-repeat fixed left/cover;
}
._row_1w6j4_17 {
  padding: 1rem;
}
._working_1w6j4_23 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
._heading_1w6j4_35 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: #fff;
}
._works_1w6j4_47 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
._work_1w6j4_23 {
  max-width: 350px;
  min-height: 350px;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem 2rem;
  box-shadow: #acabab66 0 0 0 2px, #acacaca6 0 4px 6px -1px,
    #3c3c3c14 0 1px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
._work_1w6j4_23 > ._link_svg_1w6j4_95 {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
}
._work_1w6j4_23 img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  cursor: pointer;
}
._work_1w6j4_23:hover ._link_svg_1w6j4_95 {
  display: block;
  transition: transform 0.3s ease-in;
}
._work_info_1w6j4_135 {
  color: #eee;
  letter-spacing: 0.5px;
  font-size: 1.7rem;
  transition: transform 0.3s ease-in;
}
@media (max-width: 950px) {
  ._works_1w6j4_47 {
    gap: 3rem;
  }
}
@media (max-width: 650px) {
  ._row_1w6j4_17 {
    padding: 0;
  }
  ._working_1w6j4_23 {
    padding: 0;
    margin: 0;
  }
  ._works_1w6j4_47 {
    padding: 0;
    margin: 0;
    gap: 2rem;
  }
}
._background_1pq48_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bf;
  z-index: 10;
}
._container_1pq48_19 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/background.png) no-repeat fixed left/cover;
  border-radius: 10px;
}
._box_1pq48_45 {
  padding: 2rem;
  height: 85vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  animation: _middle-top_1pq48_1 0.5s;
}
._box_1pq48_45 > h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
._websiteimage_1pq48_81 {
  height: 40vh;
  object-fit: contain;
  padding: 0;
  margin: 0;
}
._websiteimage_1pq48_81 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
._box_1pq48_45 > p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
}
._box_1pq48_45 > button {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}
._box_1pq48_45 > button > a {
  text-decoration: none;
  font-weight: 900;
  color: #cacaca;
}
._cross_1pq48_147 {
  position: absolute;
  top: 0;
  right: 0rem;
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
@media (max-width: 950px) {
  ._box_1pq48_45 {
    height: 90vh;
    width: 90vw;
  }
  ._websiteimage_1pq48_81 {
    height: 30vh;
  }
}
@media (max-width: 450px) {
  ._box_1pq48_45 > h1 {
    font-size: 1.5rem;
  }
  ._websiteimage_1pq48_81 {
    height: 20vh;
  }
}
@keyframes _middle-top_1pq48_1 {
  0% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 400px) {
  .__box_1rqzu_45_1pq48_221 > h1 {
    font-size: 1.2rem;
  }
  .__box_1rqzu_45_1pq48_221 > p {
    font-size: 0.7rem;
  }
  .__box_1rqzu_45_1pq48_221 {
    overflow-y: scroll;
  }
}
._contact_4hmg4_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(/contact.png) no-repeat fixed left/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
._container_fluid_4hmg4_15 {
  width: -webkit-fill-available;
}
._row_4hmg4_21 {
  display: flex;
  gap: 1rem;
}
._rowall_4hmg4_29 {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-direction: row-reverse;
}
._col_1_4hmg4_41 {
  flex: 6;
  min-height: 100%;
}
._col_2_4hmg4_49 {
  flex: 6;
  border-radius: 10px;
}
._items_wrapper_4hmg4_57 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(/runner.png) no-repeat center center/cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  flex-wrap: wrap;
  min-height: 100%;
  border-radius: 10px;
}
._floating_item_4hmg4_87 {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  cursor: pointer;
}
._link_4hmg4_105:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
._text_light_4hmg4_113,
._text_light_heading_4hmg4_119 {
  color: #fff;
}
._red_4hmg4_125 {
  color: #fe4e4e;
}
._part_2_text_light_4hmg4_131 {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 6px;
}
._form_group_4hmg4_145 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
._form_control_4hmg4_159 {
  all: unset;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  border: 1px solid white;
}
._but_red_4hmg4_173 {
  border: 2px solid rgb(244, 69, 69);
  border-radius: 8px;
  font-size: 19px;
  color: #f44545;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
._but_red_4hmg4_173:hover {
  border: 2px solid black;
  background-color: #f44545;
  cursor: pointer;
  color: #000;
  border-radius: 8px;
}
._first_item_4hmg4_205 {
  animation: _float_4hmg4_87 15s infinite;
}
._second_item_4hmg4_211 {
  animation: _float_4hmg4_87 20s ease-in infinite;
}
._third_item_4hmg4_217 {
  animation: _float_4hmg4_87 40s linear infinite;
}
._fourth_item_4hmg4_223 {
  animation: _float_4hmg4_87 30s infinite;
}
._fifth_item_4hmg4_229 {
  animation: _float_4hmg4_87 25s ease-in-out infinite;
}
@keyframes _float_4hmg4_87 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-60px);
  }
  to {
    transform: translate(0);
  }
}
._contact_form_4hmg4_263 input[type="text"],
._contact_form_4hmg4_263 input[type="email"],
._contact_form_4hmg4_263 textarea {
  background: transparent;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  box-shadow: none;
}
._contact_form_4hmg4_263 input:focus,
._contact_form_4hmg4_263 textarea:focus {
  background: var(--secondary-color);
  box-shadow: none;
}
._form_control_4hmg4_159 {
  width: 75%;
}
@media (max-width: 768px) {
  @keyframes _float_4hmg4_87 {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(-20px);
    }
    to {
      transform: translate(0);
    }
  }
}
@media (max-width: 900px) {
  ._rowall_4hmg4_29 {
    flex-direction: column;
  }
  ._contact_4hmg4_1 {
    height: auto;
  }
}
._error_message_4hmg4_345 {
  background-color: #ffcccb;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
._last_h87q0_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 10vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/contact.png) no-repeat fixed left/cover;
}
._container_fluid_h87q0_15 {
  width: 100%;
  height: 100%;
}
._row_h87q0_23 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
._col_h87q0_39 {
  padding: 0;
}
._nav_h87q0_45 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  padding-left: 0rem;
  gap: 2rem;
}
._nav_link_h87q0_63 {
  color: #f0f8ff;
  transition: all 0.3s;
  letter-spacing: 1px;
}
._copyright_h87q0_73 {
  font-size: 22px;
  color: #fff;
}
._footer-link_h87q0_81 {
  color: #eee;
  transition: all 0.3s;
}
._nav_link_h87q0_63:hover {
  color: #70aed2;
}
._nav_item_h87q0_95 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 720px) {
  ._nav_h87q0_45 {
    gap: 0.3rem;
    font-size: 16px;
    text-decoration: none;
  }
  ._nav_link_h87q0_63 {
    letter-spacing: 0px;
  }
  ._copyright_h87q0_73 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  ._nav_h87q0_45 {
    gap: 0.1rem;
    font-size: 14px;
    text-decoration: none;
    flex-direction: column;
  }
  ._nav_link_h87q0_63 {
    letter-spacing: 0px;
  }
  ._copyright_h87q0_73 {
    font-size: 12px;
  }
  ._last_h87q0_1 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: auto;
  }
  ._row_h87q0_23 {
    gap: 0.1rem;
  }
}
p {
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
}
._error_number_7tm59_1 {
  font-size: 15rem;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #f65757;
}
._error_reason_7tm59_15 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px;
  color: #f65757;
}
._error_des_7tm59_31 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0 0 20px;
  color: #252424;
}
@media (max-width: 768px) {
  ._error_number_7tm59_1 {
    font-size: 10rem;
  }
}
._backdrop_ke37f_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000bf;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 1000px) {
  ._backdrop_ke37f_1 {
    display: block;
  }
}
._positionfixed_osdia_1 {
  position: fixed;
  width: 100%;
  z-index: 10;
}
._line1_osdia_11,
._line2_osdia_13,
._line3_osdia_15 {
  width: 20px;
  height: 2px;
  background: white;
  margin: 4px 2px;
  transition: all 0.5s;
}
._hamburgerchange_osdia_31 ._line1_osdia_11 {
  transform: rotate(-405deg) translate(-4.28px, 4.28px);
  background: white;
}
._hamburgerchange_osdia_31 ._line2_osdia_13 {
  opacity: 0;
}
._hamburgerchange_osdia_31 ._line3_osdia_15 {
  transform: rotate(405deg) translate(-4.28px, -4.28px);
  background: white;
}
._hamburgerchange_osdia_31 {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
._hamburgerchange_osdia_31:hover {
  background-color: var(--secondary-color);
}
._navigation_osdia_99 {
  height: 4.2rem;
  display: flex;
  position: relative;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 2px 2px #0909093b;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/background.png) no-repeat fixed left/cover;
}
._logo_osdia_131 img {
  width: 60px;
  margin: 8px 5px 5px;
  border-radius: 30px;
}
._logo1_osdia_143 img {
  width: 60px;
  margin: 4px 0 5px;
  border-radius: 4px;
}
._first_osdia_155 {
  display: none;
}
._navigationmenu_osdia_163 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
._navigationmenu_osdia_163 li {
  list-style-type: none;
  margin: auto 1.2rem;
  font-size: 1.2rem;
}
._active_osdia_189 {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  white-space: nowrap;
}
._active_osdia_189:hover {
  color: #b1b1b1;
}
._hamburger_osdia_31 {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  border: 1px solid wheat;
}
._hamburger_osdia_31:hover {
  background-color: var(--secondary-color);
}
@media screen and (max-width: 720px) {
  ._hamburger_osdia_31,
  ._hamburgerchange_osdia_31 {
    display: block;
    z-index: 210;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenuexpanded_osdia_291 ul {
    position: absolute;
    top: 67px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 2px 2px #0909093b;
    border-top: 1px solid black;
    list-style: none;
    padding: 0px 0px 4rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 1px;
    z-index: 210;
    box-shadow: #0000002b 0 -23px 25px inset, #00000026 0 -36px 30px inset,
      #0000001a 0 -79px 40px inset, #0000000f 0 2px 1px, #00000017 0 4px 2px,
      #00000017 0 8px 4px, #00000017 0 16px 8px, #00000017 0 32px 16px;
    -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(/background.png) no-repeat fixed left/cover;
  }
  ._navigationmenuexpanded_osdia_291 li {
    text-align: center;
    list-style-type: none;
    margin: 0.8rem auto;
    padding: 0;
    font-size: 1.2rem;
  }
  ._navigationmenuexpanded_osdia_291 li a {
    padding: 0.2rem 0;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #fff;
  }
  ._navigationmenuexpanded_osdia_291 a:hover,
  ._navigationmenuexpanded_osdia_291 a:active,
  ._navigationmenuexpanded_osdia_291 a:active {
    color: #b1b1b1;
  }
  ._first_osdia_155 {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenu_osdia_163 ul {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  ._navigationmenuexpanded_osdia_291 ul {
    display: block;
  }
}
._App_1u7u7_1 {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
._box-shadow-large_1u7u7_17 {
  box-shadow: #0000002b 0 -23px 25px inset, #00000026 0 -36px 30px inset,
    #0000001a 0 -79px 40px inset, #0000000f 0 2px 1px, #00000017 0 4px 2px,
    #00000017 0 8px 4px, #00000017 0 16px 8px, #00000017 0 32px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
._box-shadow-small_1u7u7_53 {
  box-shadow: #32325d40 0 30px 60px -12px inset,
    #0000004d 0 18px 36px -18px inset;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media (max-width: 450px) {
  ._App_1u7u7_1 {
    width: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --primary-color: #010314;
  --secondary-color: #3a3b4a;
}
::-webkit-scrollbar {
  display: none;
}
